/**
 * Project Error
 */
.p-error
  color tc-error
  height 180px
  overflow scroll
  word-break break-word

  &__heading
    font-size medium
    font-weight bold

  &__name
  &__message
    margin-top 5px
