/**
 * Project Form
 */
.p-form
  root = selector()
  form-base-margin = 5px
  &__section
    & + &
      margin-top form-base-margin * 5
  &__item
    display block
    & + &
      margin-top form-base-margin * 3

  &__label
    color clr-gray-a
    font-weight bold
    font-size fs-small
