/**
 * Layout Base
 */
body
  width 100%
  height 100%
  position relative

#header
  // noop

#container
  display flex
  box-sizing border-box
  height 100%

#sidebar
  border-right solid 1px bdc-light
  box-sizing border-box
  height 100%
  overflow hidden
  padding 40px 14px
  width 280px

#preview
  background-color bgc-disabled
  flex-grow 1
  height 100%
  overflow hidden
  position relative
