/**
 * Layout Container
 */
.l-container
  display block
  & + &
    margin-top 15px
    .l-container__heading
      margin-top 30px
  &__heading
    border-bottom solid 1px bdc-accent
    font-size fs-large
    font-weight bold
    margin-bottom 15px
    padding-bottom 5px
  &--aside
    clearfix()
    float right
