/*!
---
name: Heading
category:
  - component
  - component/heading
compile: true
---

* Header Component provides a summary of content.

*FIXME: global-resetで不要なresetが効きすぎているのを修正したい

```jade
h1.c-heading H1 Heading あのイーハトーヴォのすきとおった風
h2.c-heading H2 Heading あのイーハトーヴォのすきとおった風

h3.c-heading H3 Heading あのイーハトーヴォのすきとおった風

h4.c-heading H4 Heading あのイーハトーヴォのすきとおった風

h5.c-heading H5 Heading あのイーハトーヴォのすきとおった風

h6.c-heading H6 Heading あのイーハトーヴォのすきとおった風

```
*/
.c-heading
  h1&
  h2&
    color tc-default
    padding-left 15px
    margin-left -(margin-sidebar)
  h1&
    border-left solid 5px bdc-accent
    font-size fs-xlarge
    font-weight bold
    line-height 1.3
    margin-bottom 10px
  h2&
    border-left solid 5px bdc-default
    font-size fs-large
    font-weight bold
    line-height 1.4
    margin-bottom 15px
