/**
 * Component Input
 */
.c-input
  input-height = 30px
  &__inner
    height input-height

  &__input
    common-transition()
    appearance none
    border none
    border-bottom solid 1px bdc-default
    box-shadow none
    box-sizing border-box
    display block
    line-height (input-height - 2)
    outline none
    padding 0 6px
    width 100%
    &:not([disabled])
      color tc-default
      &:hover
        border-color bdc-hover
      &:focus
        border-color bdc-accent
    &[disabled]
      color tc-disabled
      opacity common-opacity
