/**
 * Component Modal
 */
.c-modal
  absolute top 50% left 50%
  color tc-default
  width 400px
  min-height 250px
  margin auto
  transform translate(-50%, -50%)

  &-outer
    absolute top 0 right 0 bottom 0 left 0
    background-color clr-black-alpha
    size 100%
    z-index index-over

  &__inner
    background-color bgc-default
    border-radius common-radius
    box-sizing border-box
    height inherit
    padding 20px 30px

  &__close
    absolute top 0 right 0
    color btc-default
    buttonClrAction(btc-default)
    font-size fs-large
    padding 10px

  &__heading
    border-bottom solid 1px bdc-light
    font-size fs-large
    font-weight bold
    line-height 1.6
    margin-bottom 20px
    padding-bottom 5px

  &__body
    text-align left
    margin 15px 5px
    padding-left 20px
