/**
 * Component Select
 */
.c-select
  &__select
    appearance none
    border-radius common-radius
    border solid 1px bdc-default
    border-radius common-radius
    box-shadow none
    box-sizing border-box
    display block
    outline none
    width 100%
    &:not([disabled])
      color tc-default
      &:focus
        border-color bdc-accent
      .c-select__option:hover
        background-color bgc-hover
    &[disabled]
      color tc-disabled
      opacity common-opacity
  &__option
    padding 4px 14px 5px
