/*!
---
name: Tooltip
category:
  - component
  - component/tooltip
---

* Tooltip Components privide description for contents.

#### State
- hover
- focus

```jade
button.c-tooltip-outer Tooltip
  span.c-tooltip Tooltip description.
```
*/
.c-tooltip
  root = selector()
  color tc-gray
  opacity 0
  &-outer
    transition opacity 0.3s linear
    &:hover
    &:focus
      {root}
        opacity 1
