/*
---
name: Button
tag:
  - base
category:
  - component
  - component/button
---

## This is a component document

* Base button component.
* Use `a` or `button` tag.

Here's an example code.

```html
<a class="c-button">Base Button</a>
<a class="c-button" disabled>disabled button</a>
```
*/
.c-button
  background-color transparent
  border none
  font-size fs-small
  outline none
  &:not([disabled])
    cursor pointer
