/*!
---
name: Button
tag:
  - base
category:
  - component
  - component/button
compile: true
---

* Base button component
* Use `a` or `button` tag.

*NOTE: This is the base of button, it has only a minimum of style. So, don't use alone this, use with multi class.*


### State

- Default
- Disabled

```jade
a.c-button Default
a(disabled).c-button Disabled
```
*/
.c-button
  background-color transparent
  border none
  box-sizing border-box
  display inline-block
  font-size fs-small
  outline none
  text-align center
  &:not([disabled])
    cursor pointer
