/*!
---
name: Flat Button
category:
  - component
  - component/button
  - component/button/flat-button
compile: true
---

* Use `a` or `button` tag.

### Type

- Default
- Primary

```jade
button.c-button.c-flat-button Default
button.c-button.c-flat-button.c-flat-button--primary Primary
```

### State

- active
- processing


#### Type Default Example

```jade
button.c-button.c-flat-button Default
button.c-button.c-flat-button.is-active Active
button.c-button.c-flat-button.is-processing Processing
button(disabled).c-button.c-flat-button Disabled
```

#### Type Primary Example
```jade
button.c-button.c-flat-button.c-flat-button--primary Primary
button.c-button.c-flat-button.c-flat-button--primary.is-active Active
button.c-button.c-flat-button.c-flat-button--primary.is-processing Processing
button(disabled).c-button.c-flat-button.c-flat-button--primary Disabled
```
*/
.c-flat-button
  background-color btc-default
  buttonBgAction(@background-color)
  border-radius common-radius
  color clr-white
  min-height 35px
  padding 5px 10px
  width 100%

  &--primary
    background-color btc-primary
    buttonBgAction(@background-color)

  &.is-processing
    color transparent
    position relative
    opacity common-opacity
    &:after
      absolute top 0 right 0 bottom 0 left 0
      animation rotation 0.5s linear infinite
      border-radius 100%
      border-top 2px solid clr-white-alpha
      border-left @border-top
      border-bottom @border-top
      border-right 2px solid clr-white
      content ''
      display block
      margin auto
      size 10px

  &.is-active
    position relative
    &:after
      box-sizing border-box
      border solid 1px clr-white
      border-radius 50%
      color clr-white
      content '!'
      display block
      font-size fs-xxsmall
      text-align center
      width 12px
      height @width
      absolute top 4px right 4px
