/**
 * Foundation base
 */
html
  height 100%
  font-size 62.5%

body
  color tc-default
  font-family Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif
  font-size fs-medium
  line-height 1.6
