/**
 * Foundation Config
 */

// color
clr-black = #444
clr-gray-a = #666
clr-gray-b = #ccc
clr-gray-c = #eee
clr-gray-d = #fafafa
clr-white = #fff
clr-accent = #96cc2f
clr-red = #da4963

clr-white-alpha = rgba(255, 255, 255, 0.4)
clr-black-alpha = rgba(0, 0, 0, 0.4)

tc-default = clr-black
tc-gray = clr-gray-a
tc-lightgray = clr-gray-b
tc-error = clr-red
tc-disabled = clr-gray-b

bgc-light = clr-gray-b
bgc-default = clr-white
bgc-hover = clr-gray-d
bgc-disabled = clr-gray-d
bgc-accent = clr-accent

bdc-default = clr-gray-b
bdc-light = clr-gray-c
bdc-accent = clr-accent
bdc-hover = clr-gray-a
bdc-disabled = clr-gray-c

btc-default = clr-gray-a
btc-primary = clr-accent

common-opacity = 0.6

// border radius
common-radius = 4px

// font size
fs-xlarge = 3.2rem
fs-large = 1.6rem
fs-medium = 1.4rem
fs-small = 1.2rem
fs-xsmall = 1.1rem
fs-xxsmall = 0.8rem

// z-index
index-over = 1000

// margin
margin-sidebar = 20px

// animation keyframe
@keyframes rotation
  0%
    transform rotateZ(0deg)
  30%
    transform rotateZ(145deg)
  100%
    transform rotateZ(360deg)
