/*!
---
name: Icon
category:
  - foundation
  - foundation/icon
compile: true
//FIXME: styleguide上にベタ書きしてしまっている
data:
  icons: 
    - checkmark
    - close
    - question
---

* Use for icon font.

### Type

```jade
each icon in data.icons
  p
    i(class="icon--#{icon}").icon
    | #{icon}
```
*/

@font-face
  font-family 'samplicons'
  src url("./samplicons.woff2") format("woff2")
  font-weight normal
  font-style normal

.icon
  font-family 'samplicons'
  display inline-block
  line-height 1
  vertical-align middle
  font-weight normal
  font-style normal

  for key,value in iconData
    if key[0] == icons
      for k in key[1]
        &--{k[0][1]}:before
          content k[1][1]
