/**
 * Foundation Mixin
 */
common-transition(prop=all)
  transition prop 0.3s linear

buttonBgAction($color)
  common-transition(background-color)
  &:not([disabled]):hover
    background-color darken($color, 15%)
  &[disabled]
    background-color lighten($color, 55%)

buttonClrAction($color)
  common-transition(color)
  &:not([disabled]):hover
    color darken($color, 55%)
  &[disabled]
    color lighten($color, 45%)

